#LogoTapis {

    height: min(17vh, 17vw);
    width: min(17vh, 17vw);
    

}

.backNav {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-flow: row;

    background: var(--brandColor);
}


.backNav>h1 {
    align-self: center;
    min-width: fit-content;
}

.grpButtonNavBar {
    width: 100%;
    display: flex;
    justify-content: right;
}

.grpButtonNavBar>button {
    margin: auto 0.5em;
    height: fit-content;
    padding: 0;
}


@media screen and (max-width: 750px) {
    .backNav {
        width: 100%;
        flex-wrap: wrap;
        background: var(--brandColor);
    }

    .grpButtonNavBar>button {
        margin: auto;
    }

    #LogoTapis{
        height: 136px;
        width: 136px;

    }
}