<template name="addPlayerForm">
  {{#if _id}}
    <h4>Edition de {{player.pseudo}}</h4>
  {{else}}
    <h4>Ajouter un nouveau joueur</h4>
  {{/if}}
    
      <form class="js-add-player">

        <input id="_id" name="_id" value="{{_id}}" hidden>

        <input id="pseudo" name="pseudo" type="text" value="{{player.pseudo}}" class="validate">
        <label for="pseudo">Pseudo</label>
        <br>
        <input id="lastName" name="lastName" type="text" value="{{player.lastName}}" class="validate">
        <label for="lastName">Last Name</label>
        <br>
        <input id="firstName" name="firstName" type="text" value="{{player.firstName}}" class="validate">
        <label for="firstName">First Name</label>
        <br>
        <input id="email" name="email" type="text" value="{{player.email}}" class="validate">
        <label for="Email">Email</label>
        <br><br>
        {{#if _id}}
          <button type="submit" class="btn btn-success">Sauvegarder</button>
        {{else}}
          <button type="submit" class="btn btn-success">Ajouter</button>
        {{/if}}
      </form>
</template>