<template name="overview">
    {{> pokerOverview tournament=tournament}}
</template>

<template name="pokerOverview">
    <div id="tables_container" class="d-flex justify-content-around">
        {{#each t in (tables tournament.playerStates)}}
            <div class="text-center d-flex flex-column bd-highlight mb-3 table">
                <p>Table {{t}}</p>
            {{#each p in (table_players tournament.playerStates t)}}
                <div class='table-row text-center'>{{p}}</div>
            {{/each}}
        </div>
        {{/each}}
    </div>

    {{#if isPause tournament}} <!-- Si c'est la Pause -->
        <div>
            <div>
                <div class="d-flex justify-content-around align-items-center" style="width: 100vw;">
                    <div id="pause-timer" class="align-self-start d-flex align-items-center justify-content-center">
                        <div id="event_timer" style="text-align:center;">C'est la PAUSE<br>{{getEventTimeRemaining tournament}}</div>
                        <div id="next_pause_timer"><!--{{timerIntToString(dureeRestantEventEnCours)}}--></div>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <div>
            <div class="d-flex justify-content-around align-items-center" style="width: 100vw;">
                <div>
                    <img src="/images/rouge_petite.png" id="imgPetiteBlind" />
                    <div id="textPetiteBlind" v-if="event_en_cours.name">{{getSmallBlind (getCurrentEvent tournament)}}</div>
                </div>
                <div id="timer" class="align-self-start d-flex align-items-center justify-content-center">
                    <div id="global_timer">{{getFormatedTime tournament.time}}</div>
                    <div id="event_timer">{{getEventTimeRemaining tournament}}</div>
                    <div id="next_pause_text">Prochaine pause</div>
                    <div id="next_pause_timer">00:00</div>
                </div>
                <div>
                    <img src="/images/orange_grosse.png" id="imgGrosseBlind">
                    <div id="textGrosseBlind" v-if="event_en_cours.name">{{getBigBlind (getCurrentEvent tournament)}}</div>
                </div>
            </div>
        </div>
    {{/if}}
 

    <style>
        body {
            margin: 0;
            background-color: #1b0000;
            overflow: hidden;
        }

        .container{
            margin : 0;
        }

        #tables_container {
            width: 90vw;
            margin-left: 5vw;

        }

        .table {
            color: white;
            white-space: nowrap;
            margin: 2px;
        }

        .table-row {
            white-space: nowrap;
            color: aliceblue;
            background-color: #272727;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-color: white;
        }

        #pause-timer {
            border-radius: 1%;
            width: 80vw;
        }

        #timer {
            border-radius: 100%;
            width: 25vw;
        }

        #timer,
        #pause-timer {
            color: whitesmoke;
            font-weight: bold;
            font-size: 400%;
            margin: 1%;
            position: relative;

            height: 25vw;
            background: linear-gradient(0deg, #000, #272727);

        }

        #timer:before,
        #timer:after {
            border-radius: 100%;
        }

        #timer:before,
        #timer:after,
        #pause-timer:before,
        #pause-timer:after {
            content: '';
            position: absolute;
            left: -2px;
            top: -2px;
            background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
                    #0000ff, #00ff00, #ffff00, #ff0000);
            background-size: 400%;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            z-index: -1;
            animation: steam 20s linear infinite;
        }

        @keyframes steam {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 400% 0;
            }

            100% {
                background-position: 0 0;
            }
        }

        /*
        #timer:after, #pause-timer:after {
            filter: blur(50px);
        }
        */
        #scroll-container {
            border: 3px solid black;
            border-radius: 5px;
            overflow: hidden;
            width: 90vw;
            border-color: #EB9947;
            font-size: xx-large;
            color: white;
            font-weight: bolder;
        }

        #scroll-text {
            /* animation properties */
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);

            -moz-animation: my-animation 15s linear infinite;
            -webkit-animation: my-animation 15s linear infinite;
            animation: my-animation 15s linear infinite;
        }

        /* for Firefox */
        @-moz-keyframes my-animation {
            from {
                -moz-transform: translateX(100vw);
            }

            to {
                -moz-transform: translateX(-100vw);
            }
        }

        /* for Chrome */
        @-webkit-keyframes my-animation {
            from {
                -webkit-transform: translateX(100vw);
            }

            to {
                -webkit-transform: translateX(-100vw);
            }
        }

        @keyframes my-animation {
            from {
                -moz-transform: translateX(100vw);
                -webkit-transform: translateX(100vw);
                transform: translateX(100vw);
            }

            to {
                -moz-transform: translateX(-100vw);
                -webkit-transform: translateX(-100vw);
                transform: translateX(-100vw);
            }
        }




        #grosJeton {
            height: 100vh;
            width: auto;
            position: absolute;
            margin-left: -100%;
            animation: animation_gros_jeton 5s linear;
            z-index: 100;
            display: none;
        }

        @keyframes animation_gros_jeton {
            from {
                /*transform: translateX(100vw);*/
                margin-left: -100%;
                display: unset;
            }

            to {
                /*transform: translateX(-100vw);*/
                margin-left: 150vw;
                display: unset;
            }
        }

        #imgPetiteBlind {
            width: 15vw;
        }

        #imgGrosseBlind {
            width: 15vw;
        }

        #textGrosseBlind,
        #textPetiteBlind {
            position: absolute;
            width: 15vw;
            height: 5vw;
            z-index: 2;
            text-align: center;
            margin-top: -10.3vw;
            line-height: 5vw;
            font-size: 4vw;
        }

        #global_timer {
            position: absolute;
            height: 23vw;
            font-size: 3vw;
        }

        #event_timer {
            position: absolute;
            font-size: 5vw;
        }

        #next_pause_timer {
            position: absolute;
            font-size: 2vw;
            margin-top: 20vw;
            text-align: center;
        }

        #next_pause_text {
            position: absolute;
            font-size: 2vw;
            margin-top: 15vw;
            text-align: center;
        }
    </style>    
</template>