<template name="tournamentsList">
    <h1>Tournois enregitrés</h1>
    <a href="/add/tournament"><button class="btn btn-primary">Ajouter un tournoi</button></a>
    <br><br>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Time</th>
            <th scope="col">Game</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each t in tournaments}}
                {{> tournamentItem tournament=t}}
            {{/each}}
        </tbody>
    </table>
</template>


<template name="tournamentItem">
    <tr>
        <th scope="row"><a href="/tournament/{{tournament._id}}">{{tournament.title}}</a></th>
        <td>{{getFormatedTime(tournament.time)}}</td>
        
        {{#if tournamentIsPoker tournament}}
                <td>Poker</td>
        {{else}}
                <td>Autre</td>
        {{/if}}
        <td>
            {{#if tournament.isStarted}}
                <button class="btn btn-danger js-stop-tournament">Stop</button>
            {{else}}
                <button class="btn btn-success js-start-tournament">Start</button>
            {{/if}}
            <button class="btn btn-danger js-delete-tournament" value="{{tournament._id}}">Delete</button>
        </td>
    </tr>
</template>