:root {
  --brandColor: #EB9947;
  --darkBlue: #0C5AB5;
  --blue: #2461A8;
  --tapisbackground : #066638;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tapisbackground);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: var(--blue);
  padding: 0.75em;
  border-radius: 3em;
  height:fit-content;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fit-content;
  transition-duration: 0.3s;

}

button:hover{
  cursor: pointer;
  background: var(--darkBlue);
  transition-duration: 0.3s;
  animation-duration: 0.3s;
}

button>p{
  font-size: 1.25em;
}

#LogoTapis {

  height: min(17vh, 17vw);
  width: min(17vh, 17vw);
  

}

.backNav {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-flow: row;

  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.253);

  background: var(--brandColor);
}


.backNav>h1 {
  align-self: center;
  min-width: fit-content;
  font-size: 2em;
}

.grpButtonNavBar {
  width: 100%;
  display: flex;
  justify-content: right;
}

.grpButtonNavBar>button {
  margin: auto 0.5em;
  height: fit-content;
  padding: 0;
}


@media screen and (max-width: 750px) {
  .backNav {
      width: 100%;
      flex-wrap: wrap;
      background: var(--brandColor);
  }

  .grpButtonNavBar>button {
      margin: auto;
  }

  #LogoTapis{
      height: 136px;
      width: 136px;

  }
}